<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xukaiqiang.blog.user.mapper.UserMapper">
	<resultMap type="com.xukaiqiang.blog.model.user.User" id="userResultMap">
		<result property="id" column="id" />
		<result property="userName" column="userName" />
		<result property="passWord" column="passWord" />
		<result property="registTime" column="registTime" />
		<result property="detailId" column="detailId" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		userName,
		passWord,
		registTime,
		detailId
    </sql>
	<sql id="entity_properties">
		#{id},
		#{userName},
		#{passWord},
		#{registTime},
		#{detailId}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.userName},
		#{item.passWord},
		#{item.registTime},
		#{item.detailId}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.xukaiqiang.blog.model.user.User" useGeneratedKeys="true" keyProperty="id">
		insert into user( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into user( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from user
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.xukaiqiang.blog.model.user.User">
		update user 
		<trim prefix="set" suffixOverrides=",">
			<if test="userName != null and userName != ''">userName = #{userName},</if>
			<if test="passWord != null and passWord != ''">passWord = #{passWord},</if>
			<if test="registTime != null and registTime != ''">registTime = #{registTime},</if>
			<if test="detailId != null and detailId != ''">detailId = #{detailId},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="userResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from user
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="userResultMap">
		select <include refid="table_columns" /> 
		from user
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="userName != null and userName != ''">and userName = #{userName}</if>
			<if test="passWord != null and passWord != ''">and passWord = #{passWord}</if>
			<if test="registTime != null and registTime != ''">and registTime = #{registTime}</if>
			<if test="detailId != null and detailId != ''">and detailId = #{detailId}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="userResultMap" parameterType="com.xukaiqiang.blog.model.user.User">
		select <include refid="table_columns" />
		from user
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.xukaiqiang.blog.model.user.User">
		select count(id) from user
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<select id="login" resultMap="userResultMap" parameterType="com.xukaiqiang.blog.model.user.User">
		select *  from  user  u
		where    u.userName=#{userName}
		and u.passWord=#{passWord}
	</select>
</mapper>