<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xukaiqiang.blog.artileTags.mapper.ArtileTagsMapper">
	<resultMap type="com.xukaiqiang.blog.model.artileTags.ArtileTags"
		id="artileTagsResultMap">
		<result property="id" column="id" />
		<result property="tagsId" column="tags_id" />
		<result property="articleId" column="article_id" />
	</resultMap>

	<sql id="table_columns">
		id,
		tags_id,
		article_id
	</sql>
	<sql id="entity_properties">
		#{id},
		#{tagsId},
		#{articleId}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.tagsId},
		#{item.articleId}
	</sql>

	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.xukaiqiang.blog.model.artileTags.ArtileTags"
		useGeneratedKeys="true" keyProperty="id">
		insert into artile_tags(
		<include refid="table_columns" />
		)
		values (
		<include refid="entity_properties" />
		)
	</insert>

	<!-- 批量添加 适用于主键自增类型 不支持返回主键 -->
	<insert id="batchInsert" parameterType="java.util.List"
		useGeneratedKeys="true">
		insert into artile_tags(
		<include refid="table_columns" />
		)
		values
		<foreach item="item" collection="list" separator=",">
			(
			<include refid="entity_properties" />
			)
		</foreach>
	</insert>

	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>

	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from artile_tags
		where id in
		<foreach item="item" collection="array" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</delete>

	<update id="update" parameterType="com.xukaiqiang.blog.model.artileTags.ArtileTags">
		update artile_tags
		<trim prefix="set" suffixOverrides=",">
			<if test="tagsId != null and tagsId != ''">tags_id = #{tagsId},</if>
			<if test="articleId != null and articleId != ''">article_id = #{articleId},</if>
		</trim>
		<where>id = #{id}</where>
	</update>

	<select id="findById" resultMap="artileTagsResultMap"
		parameterType="String">
		select
		<include refid="table_columns" />
		from artile_tags
		where id = #{id}
	</select>

	<select id="queryAll" resultMap="artileTagsResultMap">
		select
		<include refid="table_columns" />
		from artile_tags
	</select>

	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="tagsId != null and tagsId != ''">and tags_id = #{tagsId}</if>
			<if test="articleId != null and articleId != ''">and article_id = #{articleId}</if>
		</trim>
	</sql>

	<select id="page" resultMap="artileTagsResultMap"
		parameterType="com.xukaiqiang.blog.model.artileTags.ArtileTags">
		select
		<include refid="table_columns" />
		from artile_tags
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>

	<select id="pageCount" resultType="int"
		parameterType="com.xukaiqiang.blog.model.artileTags.ArtileTags">
		select count(id) from artile_tags
		<include refid="page_where" />
	</select>

	<!-- 其他自定义SQL -->
	<!-- 批量添加 适用于主键自增类型 不支持返回主键 -->
	<insert id="batchInsertMap" parameterType="java.util.Map"
		useGeneratedKeys="true">
		insert into artile_tags(
		<include refid="table_columns" />
		)
		values
		<foreach item="item" collection="articleTagsList" separator=",">
			(
			<include refid="batch_entity_properties" />
			)
		</foreach>
	</insert>
	<!-- 根据文章的编号查找对应的tagId集合 -->
	<select id="findByArticleId" resultType="int">
		SELECT
		tags_id as tagsId
		FROM artile_tags
		WHERE article_id
		in
		<foreach item="item" index="index" collection="articleIdMap"
			open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<delete id="deleteByArticleId" parameterType="java.util.HashMap">
	 	delete from artile_tags
		where article_id in
		<foreach item="item" collection="articleIdMap" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</delete>
</mapper>