<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"

	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	http://www.springframework.org/schema/jee  http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
	">

	<description>Spring公共配置</description>

	<context:component-scan base-package="com.xukaiqiang">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!--开启注解 -->
	<context:annotation-config />

	<!-- 开启自动切面代理 -->
	<aop:aspectj-autoproxy />

	<!-- 定时器开关 开始 -->
	<task:annotation-driven />
	<!-- 定时器开关 结束 -->

	<!-- 定义受环境影响易变的变量 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="properties" ref="properties" />
	</bean>
	<!-- 定义受环境影响易变的变量 -->
	<bean id="properties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="localOverride" value="true" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<!-- 标准配置 -->
				<value>classpath*:/config.properties</value>
				<!-- 本地开发环境配置 -->
				<!-- <value>file:/d:/yuxinconf/school/*.properties</value> -->
				<!-- 服务器生产环境配置 -->
				<!-- <value>file:/etc/yuxinconf/school/*.properties</value> -->
			</list>
		</property>
	</bean>

		<!-- (父)数据源定义,使用Apache DBCP 连接池 -->
	<bean id="parentDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="minPoolSize" value="10" />
		<property name="maxPoolSize" value="200" />
		<property name="maxIdleTime" value="30" />
		<property name="acquireIncrement" value="5" />
		<property name="idleConnectionTestPeriod" value="60" />
		<property name="acquireRetryAttempts" value="30" />
		<property name="breakAfterAcquireFailure" value="false" />
		<property name="numHelperThreads" value="5" />
		<property name="acquireRetryDelay" value="500" />
		<property name="autoCommitOnClose" value="true" />
		<property name="propertyCycle" value="300" />
		<property name="checkoutTimeout" value="5000" />
	</bean>

	<!-- 配置主库数据源 -->
	<bean id="dataSourceSchool" parent="parentDataSource">
		<property name="jdbcUrl">
			<value>${dev.yitian.jdbc.url}</value>
		</property>
		<property name="user">
			<value>${dev.yitian.db.username}</value>
		</property>
		<property name="password">
			<value>${dev.yitian.db.password}</value>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSourceSchool" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="false" />

	<!-- 强烈建议用JdbcTemplate代替JdbcUtils -->
	<bean id="jdbcTemplatePromotion" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSourceSchool" />
	</bean>

	<bean id="sqlSessionTemplateMaster" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0">
			<bean class="org.mybatis.spring.SqlSessionFactoryBean">
				<property name="dataSource" ref="dataSourceSchool"></property>
				<property name="configLocation" value="classpath:mybatis-config-master.xml"></property>
			</bean>
		</constructor-arg>
		<constructor-arg index="1" value="SIMPLE" />
		<constructor-arg index="2">
			<null />
		</constructor-arg>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionTemplateBeanName" value="sqlSessionTemplateMaster" />
		<property name="basePackage">
			<value>
				com.xukaiqiang.blog.article.mapper,
				com.xukaiqiang.blog.articleType.mapper,
				com.xukaiqiang.blog.user.mapper,
				com.xukaiqiang.blog.userDetail.mapper,
				com.xukaiqiang.blog.tags.mapper,
				com.xukaiqiang.blog.artileTags.mapper
			</value>
		</property>
	</bean>
 </beans>